@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$custom-colors: (
  "primary": #30b2ff,
  "secondary": #625E88,
  "info": #1fdcda,
  "danger": #FF53A7,
  "light": #f5f8ff,
  "dark": #2d2d5b,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$font-family-base: 'Roboto', sans-serif;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $light;
}

.active {
  color: $info !important;
  font-weight: 600;
}

.nav-link:hover {
  color: $info !important;
}

.dropdown-item {
  transition: background-color 0.5s ease;
}

.dropdown-item:hover {
  background-color: $dark !important;
  color: $light !important;
}

.btn-primary {
  box-shadow: 0px 10px 15px -3px rgba(48, 178, 255, 0.4);
}

.btn-rounded-full {
  width: 45px;
  height: 45px;
  border-radius: 9999px;
}

.header-jumbotron {
  height: auto;
}

.header-jumbotron span, .header-jumbotron h1, .header-jumbotron p, .header-jumbotron button  {
  animation-name: slide-bottom;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.header-jumbotron span {
  animation-delay: 1400ms;
  animation-duration: 1s;
}

.header-jumbotron h1 {
  animation-delay: 700ms;
  animation-duration: 1s;
}

.header-jumbotron p {
  animation-delay: 1700ms;
  animation-duration: 1s;
  animation-name: slide-bottom-minify;
}

.header-jumbotron button {
  animation-delay: 2400ms;
  animation-duration: 1s;
  animation-name: slide-bottom-minify;
}

.image-jumbotron {
  height: 400px !important;
}

.image-jumbotron img {
  z-index: 3;
  transform: transilateY(-100%);
  max-height: 100%;

  animation: slide-top 1s cubic-bezier(.25,.46,.45,.94) both;
}

.header-jumbotron .circle-object {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgba(31, 220, 218, 0.3);
  opacity: 0.2;
  z-index: 1;
  animation:scale-up-center 1s cubic-bezier(.39,.575,.565,1.000) both;
}

.section-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about .square-object {
  width: 100%;
  text-align: center;
}

.about .container .row:last-child .col-sm-12:last-child {
  padding-top: 14rem;
}

.about .container .row:last-child .square-object {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin: 0 auto;
  box-shadow: 14px 14px 27px -3px rgba(48, 178, 255, 0.1);
}

@keyframes slide-top{0%{transform:translateY(100px)}100%{transform:translateY(0)}}
@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}
@keyframes slide-bottom {0%{transform:translateY(-100px);opacity: 0;}100%{transform:translateY(0);opacity: 1;}}
@keyframes slide-bottom-minify {0%{transform:translateY(-5px);opacity: 0;}100%{transform:translateY(0);opacity: 1;}}

@media screen and (min-width: 1200px) {
  .header-jumbotron {
    height: 40rem;
    overflow: hidden;
  }

  .header-jumbotron .circle-object {
    height: 500px;
    width: 500px;
  }

  .image-jumbotron {
    height: 100% !important;
  }

  .about .square-object {
    position: absolute;
    height: 12rem;
    width: 12rem;
    top: 50%;
    right: 0;
    transform: translateX(-50%);
  }

  .about .square-object h1 {
    font-size: 28px;
  }

  .about .square-object p {
    font-size: 14px;
  }

  .about .right-col {
    padding-left: 4rem;
  }

  .about .container .row:last-child .col-sm-12:last-child {
    padding-top: 0;
  }

  .about .container .row:last-child .square-object {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    transform: translateX(-40%);
    width: 14rem;
    height: 14rem;
  }

  footer .row  .btn {
    width: 70% !important;
  }
}